<perfil-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></perfil-cliente>

<div class="card border-primary mb-3" >
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Clientes</h5>
        <div class="my-2 text-left">
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button"[routerLink]="['/clientes/form']" >
                Crear Cliente
            </button>
        </div>   
        <table class="table table-bordered table-striped" *ngIf="clientes.length>0" >
            <thead>
                <tr>
                    <th *ngIf="authService.hasRole('ROLE_USER')">Perfil</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha</th>
                    <th>Email</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Crear Factura</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td *ngIf="authService.hasRole('ROLE_USER')"><img (click)="abrirModal(cliente)" *ngIf="cliente?.foto"
                        src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded" 
                        style="width: 64px; cursor: pointer">

                        <img (click)="abrirModal(cliente)" *ngIf="!cliente?.foto"
                        src="http://localhost:8080/images/no_user.png" alt="Sin foto" class="img-thumbnail rounded" 
                        style="width: 64px; cursor: pointer;"></td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.fecha}}</td>
                    <td>{{cliente.email}}</td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button class="btn btn-success btn-sm" name="editar" type="button" [routerLink]="['/facturas/form',cliente.id]" >Crear Factura</button></td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button class="btn btn-primary btn-sm" name="editar" type="button" [routerLink]="['/clientes/form',cliente.id]" >Editar</button>
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button  class="btn btn-danger btn-sm" name="eliminar" (click)='delete(cliente)' type="button" >Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginator-nav *ngIf ="paginador"[paginador]= "paginador" ></paginator-nav>
    </div>
</div>